{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <!-- =====================================================
         PAGE TITLE
    ====================================================== -->

    <title>
        {% block title %}
            Oyewole Olamilekan Usman | Data Analyst & Python Developer
        {% endblock %}
    </title>


    <!-- =====================================================
         SEO DESCRIPTION
    ====================================================== -->

    <meta
        name="description"
        content="{% block meta_description %}Oyewole Olamilekan Usman is a Data Analyst and Python Developer specializing in data analytics, business intelligence, machine learning and Python development.{% endblock %}"
    >

    <meta
        name="author"
        content="Oyewole Olamilekan Usman"
    >

    <meta
        name="robots"
        content="index, follow"
    >


    <!-- =====================================================
         CANONICAL URL
    ====================================================== -->

    <link
        rel="canonical"
        href="{{ request.build_absolute_uri }}"
    >


    <!-- =====================================================
         OPEN GRAPH / FACEBOOK / LINKEDIN
    ====================================================== -->

    <meta
        property="og:type"
        content="website"
    >

    <meta
        property="og:title"
        content="{% block og_title %}Oyewole Olamilekan Usman | Data Analyst & Python Developer{% endblock %}"
    >

    <meta
        property="og:description"
        content="{% block og_description %}Data analytics, business intelligence, Python development and machine learning solutions by Oyewole Olamilekan Usman.{% endblock %}"
    >

    <meta
        property="og:image"
        content="{% static 'image/og-image.png' %}"
    >

    <meta
        property="og:url"
        content="{{ request.build_absolute_uri }}"
    >

    <meta
        property="og:site_name"
        content="Oyewole Olamilekan Usman"
    >


    <!-- =====================================================
         TWITTER / X
    ====================================================== -->

    <meta
        name="twitter:card"
        content="summary_large_image"
    >

    <meta
        name="twitter:title"
        content="{% block twitter_title %}Oyewole Olamilekan Usman | Data Analyst & Python Developer{% endblock %}"
    >

    <meta
        name="twitter:description"
        content="{% block twitter_description %}Data analytics, business intelligence, Python development and machine learning solutions by Oyewole Olamilekan Usman.{% endblock %}"
    >

    <meta
        name="twitter:image"
        content="{% static 'image/og-image.png' %}"
    >


    <!-- =====================================================
         FAVICON
    ====================================================== -->

    <link
        rel="icon"
        type="image/png"
        href="{% static 'image/favicon.png' %}"
    >


    <!-- =====================================================
         GOOGLE FONTS
    ====================================================== -->

    <link
        rel="preconnect"
        href="https://fonts.googleapis.com"
    >

    <link
        rel="preconnect"
        href="https://fonts.gstatic.com"
        crossorigin
    >

    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
        rel="stylesheet"
    >


    <!-- =====================================================
         FONT AWESOME
    ====================================================== -->

    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    >


    <!-- =====================================================
         MAIN CSS
    ====================================================== -->

    <link
        rel="stylesheet"
        href="{% static 'css/style.css' %}"
    >


    {% block extra_css %}
    {% endblock %}

</head>


<body>


    <!-- =====================================================
         HEADER
    ====================================================== -->

    {% include 'partials/header.html' %}


    <!-- =====================================================
         MAIN CONTENT
    ====================================================== -->

    <main>

        {% block content %}
        {% endblock content %}

    </main>


    <!-- =====================================================
         FOOTER
    ====================================================== -->

    {% include 'partials/footer.html' %}


    <!-- =====================================================
         MAIN JAVASCRIPT
    ====================================================== -->

    <script
        src="{% static 'js/main.js' %}"
    ></script>


    {% block extra_js %}
    {% endblock %}


</body>

</html>