!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    
    <h1>Oyewole Olamilekan Usman</h1>
    <h2>Data Analyst | Python Developer | Business Intelligence</h2>

    <h4>
        I turn business data into actionable insights and build Python-powered
        applications that help businesses automate processes, understand their customers 
        and make better decisions.
    </h4>

    
    <h1>View My Projects | Download Resume | Contact Me</h1>
    
</body>
</html>